@charset "UTF-8";

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background: linear-gradient(to top,#49a09d, #5f2c82);
    }
    section#loguin{
        width: 80vw;

    }

    section#loguin > article#img{
        float: left;
        height:100%;
        width: 30%;
    }

    section#loguin > article#formulario{
        float: right;
        width: 70%;
    } 
    
}

/*Descktop*/
 @media screen and (min-width: 992px){

    body{
        background: linear-gradient(to top,#49a09d, #5f2c82);
    }
    section#loguin{
        width: 950px;
    }

    section#loguin > article#img{
        float: left;
        width: 50%;
        height: 100%;

    }

    section#loguin > article#formulario{
        float: right;
        width: 50%;
    }
 }