@charset "UTF-8";


/*paletas de cores

    verde:#49a09d
    lilas:#5f2c82

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body,html{
    background-color:#5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
   height: 100vh;
   width: 100vw; 
}

section#loguin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width:250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.450);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    
}

section > article#img{
    background:#5f2c82 url('../img/pexels-nien-tran-dinh-788736-1654748\ \(1\).jpg') no-repeat;
    height: 200px;
    background-size: cover;
    display: block;

}

section > article#formulario{
    padding: 10px;
    display: block;
}

article#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}

article#formulario > p {
    font-size: 0.8em;
}